/* General css */
body {
}

.button {
    box-shadow: 2px 2px 3px lightgrey;
}

.error {
    color: red;
}

.nav_Logo {
    height: 30px;
    width: 180px;
    margin-top: 10px;
}

.navbar {
    background-color: whitesmoke;
    color: black;
}

.navStyle {
    color: black;
}

.userNav {
    float: right;
    line-height: 1.3;
}

.userLoggedIn {
    color: black;
    font-size: medium;
    padding-top: 15px;
    height: 20px;
}

.btn_Logout {
    color: black;
    font-size: medium;
    height: 20px;
    text-align: center;
}

.home_Body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.index_Header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: black;
}

.index_Link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

footer {
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

/* All Projects GridView css */
th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
    /*width: 200px;*/
}

td {
    font-size: small;
}

.gv_Projects_Container {
    margin-top: 30px;
    font-size: medium;
}

.projectDetails {
    display: inline-block;
    white-space: nowrap;
}

.projectDetails_Header {
    font-family: Arial, Helvetica, sans-serif;
}

.projectDetailsInfo_Title {
    margin-left: 200px;
    display: inline-block;
}

.projectDetailsInfo_Group {
    margin-left: 185px;
    display: inline-block;
}

.projectDetailsInfo_Number {
    margin-left: 105px;
    display: inline-block;
}

.projectDetailsInfo_SubNumber {
    margin-left: 67px;
    display: inline-block;
}

.projectDetailsInfo_InitiatedBy {
    margin-left: 145px;
    display: inline-block;
}

.projectDetailsInfo_ReviewedBy {
    margin-left: 132px;
    display: inline-block;
}

.projectDetailsInfo_Customer {
    margin-left: 159px;
    display: inline-block;
}

.projectDetailsInfo_Department {
    margin-left: 144px;
    display: inline-block;
}

.projectDetailsInfo_Charge {
    margin-left: 183px;
    display: inline-block;
}

.projectDetailsInfo_Status {
    margin-left: 190px;
    display: inline-block;
}

.projectDetailsInfo_Resources {
    margin-left: 69px;
    display: inline-block;
}

.projectDetailsInfo_Percent {
    margin-left: 94px;
    display: inline-block;
}

.gridview {
    border: 1px solid darkgrey;
}

.gv_GridviewCss {
    padding-left: 5px;
    padding-right: 5px;
}

.gv_Employees_Edit {
    margin-bottom: 18px;
}
.calendar {
    margin-top: 30px;
    margin-left: 450px;
    margin-right: 450px;
}

.gv_Events {
    margin-top: 30px;
    margin-left: 455px;
    margin-right: 200px;
}

.gv_Textbox {
    width: 80px;
}

.gv_FooterTextbox {
    padding-left: 2px;
    padding-right: 2px;
}

.project_Details_Container {
    display: grid;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.employee_Details_Container {
    display: grid;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.employeeDetails_ID {
    margin-left: 180px;
    display: inline-block;
}

.employeeDetails_Department {
    margin-left: 173px;
    display: inline-block;
}

.employeeDetails_Rate {
    margin-left: 233px;
    display: inline-block;
}

.employeeDetails_JobDescription {
    margin-left: 120px;
    display: inline-block;
}

.employeeDetails_HoursAssigned {
    margin-left: 143px;
    display: inline-block;
}

.employeeDetails_Workload {
    margin-left: 200px;
    display: inline-block;
}

.employeeDetails_ProjectsAllocated {
    margin-left: 115px;
    display: inline-block;
}

.tbl_NewProject {
    height: 500px;
    width: 200px;
    margin-top: 30px;
    margin-left: 40px;
}

.lbl_NewProject {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-right: 20px;
}

.lbl_NewProjectHeader {
    margin-left: 35px;
}

.shading {
    box-shadow: 2px 2px 3px lightgrey;
}

/* Availability CSS */
#calendar {
    max-width: 1100px;
    margin: 40px auto;
    margin-top: 20px;
}

.btn_Add {
    position: absolute;
    margin-top: 25px;
    margin-left: 35px;
}

.ts_Input {
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.lbl_Header {
    font-size: large;
}

.error_Container {
    display: inline-block;
    white-space: nowrap;
}

.validator_Title {
    display: block;
}

.errorTitle {
    color: red;
    margin-left: -133px;
    margin-right: 3px;
}

.requiredValidator {
    color: red;
    margin-left: 3px;
}

.imgDate {
    float: right;
}

.optional {
    margin-left: 3px;
}

.btn_Submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendarSelect {
    width: 100px;
    margin-top: 4px;
}

.dtp_Requests {
    padding-left: 5px;
    padding-right: 5px;
}